body {
    text-align: center;
    background-color: rgb(127, 148, 166); /* Cambia esto al color que prefieras */
}

header {
    z-index: 1030; /* Asegura que el encabezado esté por encima del contenido */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 90vh; /* Establece una altura máxima para el carrusel */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortes */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.347); /* Fondo oscuro con transparencia */
    padding: 25px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    position: absolute; /* Asegura que se posicione correctamente */
    left: 50%; /* Centra el fondo */
    transform: translateX(-50%); /* Ajusta la posición */
    width: 60%; /* Asegúrate de que sea del ancho deseado */
    bottom: 150px; /* Ajusta este valor para mover el texto hacia arriba */
}

.carousel-caption h5 {
    font-size: 2rem; /* Tamaño de la letra del título */
}

.carousel-caption p {
    font-size: 1.25rem; /* Tamaño de la letra del párrafo */
}

.btn {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #333;
    border-radius: 5px;
    transition: background 0.3s;
}

.info-btn {
    background: #007bff;
}

.info-btn:hover {
    background: #0056b3;
}

.share-btn {
    background: #28a745;
}

.share-btn:hover {
    background: #218838;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-caption {
        bottom: 100px; /* Ajusta el texto hacia arriba en móviles */
        width: 90%; /* Mayor ancho en móviles */
    }

    .carousel-caption h5 {
        font-size: 1.5rem; /* Tamaño de la letra del título para móviles */
    }

    .carousel-caption p {
        font-size: 1rem; /* Tamaño de la letra del párrafo para móviles */
    }
}
